/* Estilo básico para o corpo da página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Estilo para o cabeçalho */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

/* Estilo para o menu de navegação */
nav {
    background-color: #444;
}

nav ul {
    list-style-type: none; /* Remove marcadores das listas */
    padding: 0;
}

/* Estilo para os itens do menu de navegação */
nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Estilo para cada seção do portfólio */
section {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para o rodapé */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: sticky;
    width: 100%;
    bottom: 0;
}

/* Estilo para o formulário de contato */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input, form textarea {
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

/* Estilo para o botão de envio do formulário */
form button {
    margin-top: 15px;
    padding: 10px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #555; /* Muda a cor do botão ao passar o mouse */
}